{{template "base" .}}

{{define "content"}}

<div class="container">
    <div class="row">
        <div class="col">
            <h1>About Page</h1>
            <p>This is about page</p>
            <p>This is about page</p>
            <p>This came from template data {{index .StringMap "test"}}</p>

            <p>

    </p>

        </div>
    </div>
</div>

{{end}}